<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wu.a.template"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 耳机插入拔出状态 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--  -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="wu.a.template.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="wu.a.template.db.DBProvider"
            android:authorities="wu.a.template.providder" />

        <!-- aidl -->
        <service
            android:name="wu.a.template.aidl.RemoteMediaPlayerService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="wu.a.template.aidl.RemoteMediaPlayerService" />
            </intent-filter>
        </service>

        <!-- meida -->
        <!--
        Media button receiver 
        该广播必须在AndroidManifest.xml文件中进行声明，否则就监听不到该MEDIA_BUTTON广播了
        -->
        <receiver android:name="wu.a.template.media.MediaButtonReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.MEDIA_BUTTON" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="wu.a.template.media.MediaAcitivity"
            android:launchMode="singleInstance" />
        <activity android:name="wu.a.template.media.MediaButtonSenderActivity" />
        <activity android:name="wu.a.template.media.AudioFocusChangeActivity" />

        <!-- package -->
        <activity android:name="wu.a.template.app.AppListActivity" />
        <!-- xml -->
        <activity android:name="wu.a.template.xml.XMLParserSerializerActivity" />
		<!-- bmp -->
        <activity android:name="wu.a.template.bmp.BmpActivity" />
        <activity android:name="wu.a.template.bmp.CropImgActivity" />
        <activity android:name="wu.a.template.bmp.TouchImageViewActivity" />
        
        <!-- view -->
        <activity
            android:name="wu.a.lib.view.MainActivity"
            android:launchMode="standard" >
        </activity>
        <activity android:name="wu.a.lib.view.ChartButtonActivity"></activity>
        <activity android:name="wu.a.lib.view.CircleLinearActivity"></activity>
        <activity android:name="wu.a.lib.view.CoverFlowActivity"></activity>
        <activity android:name="wu.a.lib.view.CoverFlowImageActivity"></activity>
        <activity android:name="wu.a.lib.view.CustomDialogActivity"></activity>
        <activity android:name="wu.a.lib.view.DatePickerDialogActivity"></activity>
        <activity android:name="wu.a.lib.view.DrawableActivity"></activity>
        <activity android:name="wu.a.lib.view.EditViewTestActivity"></activity>
        <activity android:name="wu.a.lib.view.FaceTest"></activity>
        <activity android:name="wu.a.lib.view.LineViewActivity"></activity>
        <activity android:name="wu.a.lib.view.PathShapeActivity"></activity>
        <activity android:name="wu.a.lib.view.SwitchButtonActivity"></activity>
        <activity android:name="wu.a.lib.data.json.JsonActivity"></activity>
        <!-- device -->
        <activity android:name="wu.a.lib.device.DisplayActivity"></activity>
    </application>

</manifest>