<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aess.aemm.AemmInstallService"
      android:versionCode="1"
      android:versionName="1.0"
      >
    <uses-sdk android:minSdkVersion="8" />

    <original-package android:name="com.android.packageinstaller" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:sharedUserId="android.uid.system">
		<service android:name="com.aess.aemm.installservice.PackageService">
			<intent-filter>
                <action android:name="com.aess.aemm.installservice.PackageService" />
                <action android:name="android.service.package.addpackage"/>
                <action android:name="android.service.package.deletepackage"/>
                <category android:name="android.intent.category.packageservices" />
            </intent-filter>
		</service>
    </application>
</manifest>